
.wrapper {
    height: 456px;
    margin: 0 auto;
    position: relative;
    top: 550px;
    width: 797px;
}

.subject {
    left: 0;
    position: absolute;
    top: 70px;
}

.room, .room-mask {
    height: 100%;
    width: 100%;
}

.room-mask {
    left: 0;
    position: absolute;
    top: 0;
}

#part5 {
    height: 800px;
}

.step-container {
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 275px;
    width: 1050px;
}

.step {
    height: 2px;
    left: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.step-1 {
    left: 0;
    top: 330px;
}

.step,
.point-info {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.step-2,
.step-4 {
    -webkit-transform: rotate(-20deg) translateZ(0);
    -moz-transform: rotate(-20deg) translateZ(0);
    -ms-transform: rotate(-20deg) translateZ(0);
    -o-transform: rotate(-20deg) translateZ(0);
    transform: rotate(-20deg) translateZ(0);
}

.step-5 {
    -webkit-transform: rotate(-30deg) translateZ(0);
    -moz-transform: rotate(-30deg) translateZ(0);
    -ms-transform: rotate(-30deg) translateZ(0);
    -o-transform: rotate(-30deg) translateZ(0);
    transform: rotate(-30deg) translateZ(0);
}

.step-2 > .point > .point-info,
.step-3,
.step-4 > .point > .point-info {
    -webkit-transform: rotate(20deg) translateZ(0);
    -moz-transform: rotate(20deg) translateZ(0);
    -ms-transform: rotate(20deg) translateZ(0);
    -o-transform: rotate(20deg) translateZ(0);
    transform: rotate(20deg) translateZ(0);
}


.line {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.line:before {
    border-top: 3px dashed #393939;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.point {
    background-color: #f00;
    border-radius: 100%;
    display: none;
    height: 12px;
    position: absolute;
    right: -6px;
    top: -5px;
    width: 12px;
    z-index: 10;
}

.point-1 {
    background-color: rgb(204, 122, 13);
}
.point-2 {
    background-color: rgb(40, 72, 52);
}
.point-3 {
    background-color: rgb(25, 121, 173);
}
.point-4 {
    background-color: rgb(198, 198, 198);
}

.point-info {
    color: #fff;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 200px;
}

.point-1 > .point-info {
    color: #333;
}

.point-outer {
    border: 1px dashed #393939;
    border-radius: 50%;
    height: 36px;
    left: -18px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    top: -18px;
    width: 36px;
}
